@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-item {
  display: grid;
  grid-template-columns: 40px 1fr;
  padding: 0.25rem 1rem 0.25rem 2rem;
  cursor: pointer;
  align-items: center;

  position: relative;
}

.menu-item::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: theme("colors.menu.active.zinc");
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.menu-item.active::before {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: 0.3rem;
  height: 100%;
  background-color: theme(colors.menu.active.green);

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.menu-item:hover::after {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.toggle-button {
  position: relative;
  appearance: none;
  display: inline-block;
  height: 25px;
  width: 60px;
  cursor: pointer;

  border-radius: 999px;
  background-color: theme(colors.form.toggle-button.bg.slate);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

  &::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 4px;

    height: 1.2rem;
    width: 1.2rem;

    border-radius: 999px;
    background-color: theme(colors.form.toggle-button.slider.white);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);

    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:checked {
    background-color: theme(colors.form.toggle-button.bg.green);

    &::after {
      transform: translateX(2.05rem);
    }
  }
}
